@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSansArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSansArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSansArabic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IBMPlexSansArabic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.r30 {
    border-radius: 30px;
}

.react-colorful-container .react-colorful {
    width: 95% !important;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
